* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-image: url('../img/coffee_background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
} */

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 3px solid #8b7e74;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #eddbc7;
}

.post__content {
  font-size: 17px;
  line-height: 1.5;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
}
.post__btns button:not(:last-child) {
  margin-right: 6px;
}

.page__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #753519;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.page__current {
  background-color: #a9907e;
  color: white;
}
