.navbar {
  position: absolute;
  left: 0;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 5px 5px 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 10px 23px;
  line-height: 150%;
  font-size: 19px;
  background-color: inherit;
  border: 1px solid black;
  margin-right: 30px;
}

.list {
  display: flex;
}

.link {
  margin-left: 30px;
}

.link a {
  color: black;
  font-size: 17px;
  line-height: 150%;
}
